<h4>Bruce Mbayo</h4>
<blockquote>
  This app is a simple app for learning angular 2. Angular 2 has a great future i think, 
  after some moments of doubts about the future and the application of angular 2. <br>

  I am now confident, Angular 2 is the next of angular and has a great future, because is : <br>

  - The learning curve is better than angular 1<br>
  - The programming paradigm is serious and professionnal<br>
  - Oriented Object programming<br>
  - Best performance<br>
  - Use latest web technologies<br>
</blockquote>

<p>This app is made with <strong><a href="https://www.last.fm/home">Last FM API</a></strong></p>

